<section class="dashboard py-4 px-3">

  <div class="container-fluid">
    <div class="row">
      <div class="col-12 position-relative">
        <h3>
          <span class="font-weight-bold">المساحات الحالية </span>
          <button class="float-left rounded-pill greenBtn"><i class="fas fa-plus-circle"></i> مساحة جديدة </button>
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-3" *ngFor="let workspace of workspaces">
        <app-workspace [workspace]="workspace"></app-workspace>
      </div>
    </div>
  </div>
</section>

