<form>
  <div class="mb-3">
    <label for="side" class="form-label">الجهة <span class="text-danger">*</span></label>
    <input type="text" class="form-control" id="side" aria-describedby="sideHelp" placeholder="جامعة النيل">
    <!-- <div id="sideHelp" class="form-text">We'll never share your email with anyone else.</div> -->
  </div>
  <div class="mb-3">
    <label for="degree" class="form-label">الدرجه العلمية <span class="text-danger">*</span></label>
    <input type="text" class="form-control" id="side" aria-describedby="degreeHelp" placeholder="بكالرويس الهندسه الصناعية والاداره">
    <!-- <div id="degreeHelp" class="form-text">We'll never share your email with anyone else.</div> -->
  </div>
  <div class="mb-3">
    <label for="side" class="form-label">مجال الدراسة <span class="text-danger">*</span></label>
    <input type="text" class="form-control" id="side" aria-describedby="sideHelp" placeholder="الهندسه والعلوم التطبيقيه">
    <!-- <div id="sideHelp" class="form-text">We'll never share your email with anyone else.</div> -->
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="mb-3">
        <label for="startDate" class="form-label">تاريخ البداية</label>
        <input type="date" class="form-control" id="startDate" aria-describedby="startDateHelp">
        <!-- <div id="startDateHelp" class="form-text">We'll never share your email with anyone else.</div> -->
      </div>
    </div>
    <div class="col-lg-6">
      <div class="mb-3">
        <label for="endDate" class="form-label">تاريخ الانتهاء</label>
        <input type="date" class="form-control" id="endDate" aria-describedby="endDateHelp">
        <!-- <div id="endDateHelp" class="form-text">We'll never share your email with anyone else.</div> -->
      </div>
    </div>
  </div>
  <div class="mb-3">
    <label for="gpa" class="form-label">التقدير العام</label>
    <input type="text" class="form-control" id="gpa" aria-describedby="gpaHelp" placeholder="جيد جدا">
    <!-- <div id="gpaHelp" class="form-text">We'll never share your email with anyone else.</div> -->
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">الوصف والانشطة</label>
    <textarea class="form-control" id="description" rows="5" placeholder="يمكنك اضافة توصيف الدرجه العلمية هنا "></textarea>
  </div>

  <button type="submit" class="border-success rounded text-green-color bg-white px-5 py-2">حفظ</button>
</form>

