
<div class="px-4 pb-4">
  <form>
    <div class="mb-3">
      <label for="name" class="form-label">اسم المهمة <span class="text-danger">*</span></label>
      <input type="text" class="form-control" id="name" aria-describedby="nameHelp" placeholder="دراسة المشروع الاولية">
      <!-- <div id="nameHelp" class="form-text">We'll never share your email with anyone else.</div> -->
    </div>
    <div class="mb-3">
      <label for="date" class="form-label">تاريخ الانتهاء <span class="text-danger">*</span></label>
      <input type="date" class="form-control text-end" id="date" aria-describedby="dateHelp">
      <!-- <div id="degreeHelp" class="form-text">We'll never share your email with anyone else.</div> -->
    </div>
    <button type="submit" class="border-success rounded text-green-color bg-white px-5 py-2 ms-3">حفظ</button>
  </form>
</div>
