

<div class="px-4 pb-4">
  <form (ngSubmit)="onSubmit()" [formGroup]="addExperienceForm">
    <div class="mb-3">
      <label for="position" class="form-label">المنصب<span class="text-danger">*</span></label>
      <input type="text" class="form-control" id="position" aria-describedby="positionHelp" [ngClass]="{ 'border-danger': addExperienceForm.get('position')?.touched }" formControlName="position" placeholder="شهاده برمجه المواقع">
      <div
            *ngIf="
            addExperienceForm.get('position')?.invalid &&
            addExperienceForm.get('position')?.errors &&
              (addExperienceForm.get('position')?.dirty ||
              addExperienceForm.get('position')?.touched)
            "
          >
            <div
              class="form-text text-danger"
              *ngIf="addExperienceForm.controls['position']?.errors?.['required']"
            >
              حقل المنصب مطلوب
            </div>
          </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="mb-3">
          <label for="jobKind" class="form-label"> نوع الوظيفه <span class="text-danger">*</span></label>
          <select class="form-select" aria-label="jobKind" [ngClass]="{ 'border-danger': addExperienceForm.get('jobKind')?.touched }" formControlName="jobKind">
            <option selected>برجاء الاختيار</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>

          </select>
          <div
          *ngIf="
          addExperienceForm.get('jobKind')?.invalid &&
          addExperienceForm.get('jobKind')?.errors &&
            (addExperienceForm.get('jobKind')?.dirty ||
            addExperienceForm.get('jobKind')?.touched)
          "
        >
          <div
            class="form-text text-danger"
            *ngIf="addExperienceForm.controls['jobKind']?.errors?.['required']"
          >
            حقل نوع الوظيفه مطلوب
          </div>
        </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-5">
        <div class="mb-3">
          <label for="startDate" class="form-label">تاريخ الحصول <span class="text-danger">*</span></label>
          <input type="date" class="form-control" id="startDate" aria-describedby="startDateHelp" [ngClass]="{ 'border-danger': addExperienceForm.get('startDate')?.touched }" formControlName="startDate">
          <div
          *ngIf="
          addExperienceForm.get('startDate')?.invalid &&
          addExperienceForm.get('startDate')?.errors &&
            (addExperienceForm.get('startDate')?.dirty ||
            addExperienceForm.get('startDate')?.touched)
          "
        >
          <div
            class="form-text text-danger"
            *ngIf="addExperienceForm.controls['jobKind']?.errors?.['required']"
          >
            حقل تاريخ الحصول مطلوب
          </div>
        </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="mb-3">
          <label for="endDate" class="form-label">تاريخ الانتهاء</label>
          <input type="date" class="form-control" id="endDate" aria-describedby="endDateHelp" formControlName="endDate">
        </div>
      </div>
      <div class="col-lg-2">
        <div class="mb-3 form-check mt-3">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">اعمل هناك</label>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="location" class="form-label">مكان العمل</label>
      <input type="text" class="form-control" id="location" aria-describedby="locationHelp" placeholder="لندن , بريطانيا" formControlName="location">
    </div>
    <div class="mb-3">
      <label for="industry" class="form-label">الصناعة</label>
      <input type="text" class="form-control" id="industry" aria-describedby="industryHelp" placeholder="it" formControlName="industry">
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">وصف الوظيفه</label>
      <textarea class="form-control" id="description" rows="5" placeholder="يمكنك إضافة توصيف الوظيفه هنا .. " formControlName="description"></textarea>
    </div>

    <button type="submit" class="border-success rounded text-green-color bg-white px-5 py-2">حفظ</button>
  </form>
</div>

