<!-- Layout -->
<mat-sidenav-container autosize class="example-sidenav-container">
  <mat-sidenav #sideNav (closed)="onClose()" [opened]="display" position="end" [mode]="mobileQuery.matches ? 'over' : 'side'"
  [fixedInViewport]="mobileQuery.matches" [ngClass]="{'expandedSideNav':!isExpanded,'collapsedSideNav':isExpanded}">
  <div class="logo pt-4 pb-5">
    <ng-container *ngIf="isExpanded;else logo">
     <img src="../../assets/imgs/logo.png" alt="" class="expanded">
    </ng-container>
    <ng-template #logo>
      <img src="../../assets/imgs/collapsed logo.png" alt="" class="collapsed">
    </ng-template>
  </div>
    <ul class="mb-0">
      <li
        class=" px-md-1"
        *ngFor="let route of routes"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
      >
        <a
          [routerLink]="route.path"
          href=""
          class="py-2 d-inline-block text-dark"
        >
          <i [class]="route.icon"></i>
          <span *ngIf="isExpanded" class="px-2">{{ route.text }}</span>
        </a>
      </li>
    </ul>
    <p-divider></p-divider>
    <p-accordion>
      <p-accordionTab [selected]="true" [ngClass]="{'removeAccordationIcon':!isExpanded}">
        <ng-template pTemplate="header"
          ><i class="fas fa-th-large"></i
          ><span *ngIf="isExpanded" class="px-3" routerLink="../workspaces">مساحات العمل</span>
          <button class="search-btn position-absolute d-inline-block bg-transparent border-0 " *ngIf="isExpanded" (click)="openSearch($event)"> <i class="pi pi-search mt-1"></i></button>

        </ng-template>
        <ng-template pTemplate="content">
          <div class="mb-3" *ngIf="toggleSearch " >
            <input type="text" class="form-control" placeholder="بحث" (input)="searchInWorkspaces($event)">
          </div>
          <ul>
            <li *ngFor="let workspace of workspaces">
              <a href="" class="text-dark" routerLink="../workspaces/{{workspace.name}}">
                <span class="icon" [style.backgroundColor]="'#' + (workspace.name | randomcolor)"></span>
                <span *ngIf="isExpanded" class="px-3">{{workspace.name}}</span>
              </a>
            </li>
          </ul>
        </ng-template>
      </p-accordionTab>
    </p-accordion>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header ></app-header>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- ./Layout -->
<!-- Footer -->
<app-footer></app-footer>
<!-- ./Footer -->

