// For Record
.p-inputtext {
  height: 29px !important;
  width: 50px !important;
  border-radius: 0;
}
.form-select {
  background-position: left 0.75rem center;
  padding: 0.375rem 0.375rem 0.375rem 2.25rem;
}
