.p-tabview {
  &-panels {
    background: transparent !important;
  }

  &-nav {
    .p-tabview-ink-bar {
      background: $greenColor !important;
      height: 3px !important;
    }

    li {
      .p-tabview-nav-link {
        color: $greyColor !important;

        // Extra small devices (portrait phones, less than 576px)
        @media (max-width: 575px) {
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }

    li.p-highlight {
      .p-tabview-nav-link {
        color: $greenColor !important;
        border-color: $greenColor !important;
        border-bottom-width: 3px;
      }
    }
  }
}
