.highlight-label {
  background: #DBDBDB;
  color: #000000;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.colon {
  font-size: 30px;
}

.play {
  font-size: 25px;
  cursor: pointer;
}

.replay {
  font-size: 20px;
  cursor: pointer;
}
.check{
  font-size: 20px;
}
