<ul class="notifications">
  <li class="border-bottom py-2 px-3 new">
    <p class="notification-message"><span class="notification-circle active"></span> تم إنشاء حسابك بواسطه <a href="">احمد رمزي</a></p>
    <p class="text-black-50 time mb-0"><span class="date">23-12-2021</span> <span>12:00PM</span></p>
  </li>
  <li class="border-bottom py-2 px-3 new">
    <p class="notification-message"><span class="notification-circle active"></span> تم إنشاء حسابك بواسطه <a href="">احمد رمزي</a></p>
    <p class="text-black-50 time mb-0"><span class="date">23-12-2021</span> <span>12:00PM</span></p>
  </li>
  <li class="border-bottom py-2 px-3">
    <p class="notification-message"><span class="notification-circle active"></span> تم إنشاء حسابك بواسطه <a href="">احمد رمزي</a></p>
    <p class="text-black-50 time mb-0"><span class="date">23-12-2021</span> <span>12:00PM</span></p>
  </li>
  <li class="border-bottom py-2 px-3">
    <p class="notification-message"><span class="notification-circle active"></span> تم إنشاء حسابك بواسطه <a href="">احمد رمزي</a></p>
    <p class="text-black-50 time mb-0"><span class="date">23-12-2021</span> <span>12:00PM</span></p>
  </li>
</ul>
